
* {
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
  }

body {
    margin: 0 auto;
    width: 90%;
    background-color: #ABACAB;
    font: 250 24px/1.5 Helvetica, Verdana, sans-serif;
    margin-top: 5%;
  }

  section {
    text-align: center;
  }

  li {
    text-align: center;
    list-style-type: none;
  }

  #location {
    font-size: 30px;
    font-weight: 100;
  }

  .Thermostat {
    margin: 0 auto;
    width: 30%;
  }

  .weather {
    width: 30%;
    float: left;
  }

  .fun {
    width: 30%;
    float: right;
  }

  .High {
    color: red;
  }

  .Medium {
    color: black;
  }

  .Low {
    color: green;
  }
