
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
        box-sizing: border-box;
  }

  body {
    margin: 0 auto;
    width: 80%;
    background-color: #C0D3C5;
    font: 250 24px/1.5 Helvetica, Verdana, sans-serif;
    margin-top: 5%;
  }

  input {
    background-color: #D1E5E1;
    border: none;
    border-radius: 15px;
    color: #ABACAB;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  section {
    text-align: center;
  }

  li {
    text-align: center;
    list-style-type: none;
  }

  #location {
    font-size: 30px;
    font-weight: 100;
  }

  .Thermostat {
    float: right;
    width: 40%;
  }

  .weather {
    width: 40%;
    float: left;
  }

  .climate_change {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
  }

  .High {
    color: red;
  }

  .Medium {
    color: black;
  }

  .Low {
    color: green;
  }
